# Disable MultiViews to prevent conflicts between file names and paths
<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

# Enable mod_rewrite and redirect to index.html for unknown paths
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don't rewrite index.html, ensure that it can still be accessed
  RewriteRule ^index\.html$ - [L]

  # Make sure requests for actual files (like images, CSS, JS) are handled normally
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>
